#pagination, #pagination_bottom, .product-count {
	display: none !important;
}

#infinitescroll {
	text-align: center;
}

.an_button_more_products{
	background-color: rgb(51, 51, 51);
	opacity: 0.7;
	text-align: center;
	height: 40px;
	padding-top: 10px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
}

.an_button_more_products:hover{
	opacity: 1;
}