#order-opc .page-subheading,
#order-opc .page-heading,
#order-opc #page .opc-add-save {
	border-bottom: none;
	border-top: none;
	margin-bottom: 0;
    font-family: inherit;
    font-weight: inherit;
    text-transform: inherit;
    color: black;
}

h1#checkout_title {
	margin: 0;
	padding: 0;
}

#order-opc .page-heading {
	font-size: 25px;
}

#order-opc .page-heading.step-num span {
	display: none;
}

#order-opc #page .page-heading.step-num {
	padding-left: 0px;
}

#order-opc .add-info,
#order-opc .leave-message {
	display: inline-block;
}

#order-opc .add-info textarea,
#order-opc .leave-message textarea {
	height: 75px;
}

#order-opc #page .form-group .form-control {
	width: 100%;
	max-width: 100%;
}

p.required {
	display: none;
}

#order-opc .opc-add-save {
	text-align: center;
}

#new_account_form,
#login_form {
	padding: 0 20px;
}

h3.delivery-address {
	margin-top: -65px;
	padding-bottom: 31px;
}

@media (min-width: 1200px) {
	#order-opc .col-md-8.box {
		width: 64%;
	    margin-left: 30px !important;
	}
}

@media (max-width: 991px) {
	h3.delivery-address {
		margin-top: 0px;
	}
	
	.without-padding.col-md-6 + .col-md-6 {
		padding: 0;
	}
	
	.add-info {
		width: 100%;
	}
}

#order-opc .box {
	border: none;
	background: #F9F9F9;
}

#order-opc .form-control {
	border: 1px solid #E1E1E1;
	border-radius: 3px;
}

#order-opc label {
    font-size: 12px;
    letter-spacing: 0.05em;
}

#order-opc .without-padding {
	padding: 0;
}

#order-opc sup {
	color: red;
}

#opc_new_account {
	margin-bottom: 30px;
}

a#openLoginFormBlock {
	color: #076EAF;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    border-bottom: 1px dotted #076EAF;
}

#order-opc .button.button-medium {
    background: #309508;
    border-radius: 5px;
    font-weight: normal;
	float: none;
}

#order-opc .button.button-medium span:hover {
	background: #3BB30C;
}

#order-opc .button.button-medium span {
	border: none;
	padding: 10px 30px 10px 40px;
}

#order-opc .button.button-small {
	background: #309508;
    border: none;
    /*margin-left: -13px;*/
    border-radius: 5px;
}

#order-opc .button.button-small span {
	border: none;
	padding: 5px 15px 5px 15px;
	font-weight: normal;
    text-shadow: none;
}

#order-opc .button.button-small span:hover {
	border: none;
	background: #3BB30C;
	border-radius: 5px;
}

#order-opc .button.button-small span i {
	display: none;
}

#order-opc .cart_navigation {
	text-align: center;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td, .table-bordered {
	border: none !important;
}

#order-opc .table > thead > tr > th {
	background: #F1F1F1;
}

#order-opc tr.cart_item {
	background: #F9F9F9;
	border-bottom: 1px solid #EBEBEB;
}

#order-opc #cart_summary tfoot td#total_price_container {
	background: #FBFBFB;
}

#order-opc #cart_summary tbody td.cart_product img {
	border: 1px solid #F1F1F1;
	border-radius: 3px;
}

#order-opc .label-success {
	border: none;
}

#order-opc .product-name a {
	font-size: 20px;
}

#order-opc #cart_summary tbody td.cart_description small {
	font-size: 15px;
}

#order-opc .price {
    font-size: 20px;
    color: #3A3939;
}

#order-opc #cart_summary thead th {
    padding: 15px 8px 15px 8px;
    font-weight: normal;
    font-size: 15px;
}

span#total_price {
	font-size: 30px;
}

#cart_summary tfoot td.text-right, #cart_summary tfoot tbody td.cart_unit, #cart_summary tbody tfoot td.cart_unit, #cart_summary tfoot tbody td.cart_total, #cart_summary tbody tfoot td.cart_total {
	font-weight: normal !important;
	font-size: 15px;
}

#order-opc p {
	color: black;
}

#order-opc .delivery_option > div > table.resume {
	border-radius: 7px;
	border: 2px dotted #B5B5B5 !important;
    display: block;
    height: auto;
    background: #FBFBFB;
}

#order-opc .delivery_option > div > table.resume.active {
    border: 2px solid #2B73EA !important;
    background: #FFF;
}

#order-opc .delivery_option td {
	color: black;
	padding: 25px 35px;
}

#order-opc .delivery_option strong {
    font-size: 22px;
}

#order-opc .delivery_option .delivery_time {
	color: #A3A3A3;
}

#order-opc .delivery_option > div > table.resume td.delivery_option_price {
	font-size: 30px;
}

#order-opc .delivery_option .delivery_option_logo {
	display: none;
}

#order-opc .delivery_option_name {
	width: 60%;
}

#order-opc tfoot > tr > td > div {
	float: left;
	width: 25%;
}

#order .delivery_option > div, #order-opc .delivery_option > div {
	margin-bottom: 10px !important;
}

div.delivery_option {
	cursor: pointer;
}

#order-opc p.payment_module a {
	border-radius: 7px;
    border: 2px dotted #B5B5B5 !important;
	font-size: 22px;
	padding: 29px 40px 24px 110px;
}

#order-opc p.payment_module a.active {
    border: 2px solid #2B73EA !important;
}

#order-opc p.payment_module a:after {
	display: none;
}

#order-opc p.payment_module a span {
    display: block;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0px;
    color: #A3A3A3;
}

#opc_payment_methods,
.order_carrier_content {
	padding-bottom: 10px !important;
}

ul.box.address {
	padding: 5px 40px;
}

ul.box.address .address_title {
	font-weight: bold;
}

ul.box.address li {
	color: #777777;
	font-size: 15px;
}

p.addressesAreEquals {
	padding-left: 15px;
}

ul.box.address li.address_update {
	text-align: right;
	height: 0;
}

ul.box.address li.address_update a {
    margin-top: -40px;
    margin-right: -15px;
}

@media (max-width: 600px) {
	#order-opc .delivery_option > div > table.resume td.delivery_option_radio {
		display: none;
	}
}

@media (max-width: 991px) {
	p.address_add a {
		margin-top: 13px;
	}
	
	p.address_add {
	    clear: both;
	}

	#uniform-id_address_delivery span {
		max-width: 300px !important;
	}
	#uniform-id_address_delivery {
	    max-width: 310px !important;
	}
}
