<div class="home-top-banners row">
<div class="col-sm-6 b1">
<div class="zoom"><img src="{$theme_path|escape:'html':'UTF-8'}img/b1.png" alt="" width="100%" /></div>
<h1 class="firsth">SUMMER<br />COLLECTION<br />45% OFF</h1>
<p class="firstp">Lorem ipsum dolor sit amet,<br /> consectetur adipiscing elit.</p>
<a class="shop-now static-shop-now-first" href="#">READ MORE</a></div>
<div class="col-sm-6 b2">
<div class="zoom"><img src="{$theme_path|escape:'html':'UTF-8'}img/b2.png" alt="" width="100%" /></div>
<h1 class="secondh">BIKE SPECIAL<br />WILD STYLE<br />COLLECTION</h1>
<p class="secondp">Lorem ipsum dolor sit amet,<br /> consectetur adipiscing elit.</p>
<a class="shop-now static-shop-now-second" href="#">READ MORE</a></div>
</div>