<div class="home-bottom-banners-3 row">
<div class="col-sm-12">
<div class="col-sm-3"><a href="#"> <img src="{$theme_path|escape:'html':'UTF-8'}img/b11.png" alt="" /> <span>0123-456-789</span> </a></div>
<div class="col-sm-3"><a href="#"> <img src="{$theme_path|escape:'html':'UTF-8'}img/b12.png" alt="" /> <span>Contacts</span> </a></div>
<div class="col-sm-3"><a href="#"> <img src="{$theme_path|escape:'html':'UTF-8'}img/b13.png" alt="" /> <span>Discount system</span> </a></div>
<div class="col-sm-3"><a href="#"> <img src="{$theme_path|escape:'html':'UTF-8'}img/b14.png" alt="" /> <span>Support</span> </a></div>
</div>
</div>