<div class="home-bottom-banners row">
<div class="col-sm-6 b1">
<div class="zoom"><img src="{$theme_path|escape:'html':'UTF-8'}img/b3.png" alt="" width="100%" /></div>
<h1 class="firsth">LOREM IPSUM</h1>
<p class="firstp">Lorem ipsum dolor sit amet,<br /> consectetur adipiscing elit.</p>
<a class="shop-now static-shop-now-first shop-now2" href="#">READ MORE</a></div>
<div class="col-sm-6 b2">
<div class="zoom"><img src="{$theme_path|escape:'html':'UTF-8'}img/b4.png" alt="" width="100%" /></div>
<h1 class="secondh">LOREM IPSUM</h1>
<p class="secondp">Lorem ipsum dolor sit amet,<br /> consectetur adipiscing elit.</p>
<a class="shop-now static-shop-now-second shop-now2" href="#">READ MORE</a></div>
</div>