<div class="about-us-text clearfix"><img src="{$theme_path|escape:'html':'UTF-8'}img/b20.png" alt="" /> <span>ABOUT US</span>
<p>This is Photoshop version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
<a class="read-more" href="#">Read more</a></div>