<div class="home-bottom-banners-2 row">
<div class="col-sm-12">
<div class="col-sm-3">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}img/b5.png" alt="" width="100%" /> </a></div>
</div>
<div class="col-sm-3">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}img/b6.png" alt="" width="100%" /> </a></div>
</div>
<div class="col-sm-3">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}img/b7.png" alt="" width="100%" /> </a></div>
</div>
<div class="col-sm-3">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}img/b8.png" alt="" width="100%" /> </a></div>
</div>
</div>
</div>