#currencies-block-top {
  float: right;
  position: relative; }
  #currencies-block-top span.firstWord {
    display: none; }
  #currencies-block-top div.current {
    padding: 8px 0px 8px 0px;
    color: #fff;
    cursor: pointer;
    line-height: 18px; }
    /*#currencies-block-top div.current:hover, #currencies-block-top div.current.active {
      background: #2b2b2b; }*/
    #currencies-block-top div.current:after {
      content: "\f078";
      font-family: "FontAwesome";
      font-size: 8px;
      line-height: 18px;
      color: #686666;
      vertical-align: 2px;
      padding-left: 5px; }
    @media (max-width: 479px) {
      #currencies-block-top div.current .cur-label {
        display: none; } }
  #currencies-block-top ul {
    display: none;
    position: absolute;
    top: 37px;
    left: 0;
    background: #333;
    z-index: 2; }
    #currencies-block-top ul li {
      color: #fff;
      line-height: 35px;
      font-size: 13px; }
      #currencies-block-top ul li a,
      #currencies-block-top ul li > span {
        padding: 0 10px 0 12px;
        display: block;
        color: #fff; }

/*# sourceMappingURL=blockcurrencies.css.map */
