 @import url("animate.css");


.myaccount-block-top {
  float: right;
  position: relative; }

  .myaccount-block-top span.firstWord {
    display: none; }
  .myaccount-block-top div.current {
    padding: 8px 0px 8px 0px;
    line-height: 18px;
    cursor: pointer; }
    .myaccount-block-top div.current strong {
      color: #777777; }
    .myaccount-block-top div.current:after {
      content: "\f078";
      font-family: "FontAwesome";
      font-size: 8px;
      line-height: 18px;
      vertical-align: 2px;
      padding-left: 5px; }
    @media (max-width: 479px) {
      .myaccount-block-top div.current .cur-label {
        display: none; } }
  .myaccount-block-top ul {
    display: none;
    position: absolute;
    background: #333;
    z-index: 2; }
    .myaccount-block-top ul li {
      color: #fff;
      font-size: 13px; }
      .myaccount-block-top ul li a,
      .myaccount-block-top ul li > span {
        padding: 9px 10px 9px 12px;
        display: block;
        color: #fff; }


.block .title_block, .block h4,
.content_scene_cat{
 border-top: 1px solid #ecebeb;
 background: none;;
}

@font-face {
 font-family:'MuseoSansCyrl-300';
 src: url(../fonts/MuseoSansCyrl-300.otf);
}

@font-face {
 font-family:'MuseoSansCyrl-500';
 src: url(../fonts/MuseoSansCyrl-500.otf);
}

@font-face {
 font-family:'MuseoSansCyrl-700';
 src: url(../fonts/MuseoSansCyrl-700.otf);
}

@font-face {
 font-family:'HenriDidot';
 src: url(../fonts/HenriDidot.otf);
}



header .nav {
 background: #f1efef;
}

/*Phone*/

@media (max-width: 991px) {
 body.an_theme1_1 .shop-phone{
  display: none;
 }
}

body.an_theme1_1 .shop-phone {
 padding: 8px 0 8px;
 margin-right: 30px;
}

body.an_theme1_1 .icon-phone-new {
 display: block;
 width: 16px;
 height: 16px;
 background: url('../img/phon-new.png') no-repeat;
 float: left;
 margin-right: 8px;
}

body.an_theme1_1 .text-phone-new,
body.an_theme1_1 .shop-phone strong {
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 12px;
}

body.an_theme1_1 .shop-phone strong{
 font-weight: normal;
}

/*Contact us*/

#contact-link a{
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 12px;	
}

#contact-link a:hover,
#contact-link a.active {
 color: #fe5c86;
}

/*languages*/

.languages-block-top-1 {
 margin-right: 20px;
}

@media (max-width: 479px) {
 .languages-block-top-1 {
  margin-right: 15px;
 }
}
.myaccount-block-top div.current,
#languages-block-top div.current {
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 12px;
}

.myaccount-block-top ul li a,
.myaccount-block-top ul li > span,
#languages-block-top ul li a,
#languages-block-top ul li > span {
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 12px;
}
 
.myaccount-block-top ul li.selected,
.myaccount-block-top ul li.selected span,
.myaccount-block-top ul li:hover a,
#languages-block-top ul li.selected,
#languages-block-top ul li.selected span,
#languages-block-top ul li:hover a {
 color: #fe5c86; 
}

#languages-block-top ul {
 top: 35px;
 left: -10px;
 background: #f1efef;
 }
 
 .myaccount-block-top ul {
 top: 35px;
 left: -27px;
 background: #f1efef;
 }
 
#languages-block-top ul {
 width: 100px;
 }
 
 .myaccount-block-top ul {
 width: 120px;
 }
		
		
/*Currencies*/

#currencies-block-top{
 margin-right: 20px;
}
	
#currencies-block-top div.current,	
#currencies-block-top div.current strong {
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 12px;
 font-weight: normal;
}		

#currencies-block-top div.current:after {
 color: #000000;
}

.myaccount-block-top div.current:hover,
.myaccount-block-top div.current.active,
.myaccount-block-top div.current.active:after,	
#currencies-block-top div.current:hover,
#languages-block-top div.current:hover,
#currencies-block-top div.current.active,
#languages-block-top div.current.active,
#currencies-block-top div.current:hover strong,
#currencies-block-top div.current.active strong,
#languages-block-top div.current.active:after,
#currencies-block-top div.current.active:after,
#currencies-block-top div.current:hover:after {
 color: #fe5c86; 
}		
.myaccount-block-top div.current.active:after,
#currencies-block-top div.current.active:after,
#languages-block-top div.current.active:after  {
 content: "\f077";
}

#currencies-block-top ul li a,
#currencies-block-top ul li > span {
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 12px;
}
 
#currencies-block-top ul li.selected,
#currencies-block-top ul li.selected a,
#currencies-block-top ul li:hover a {
 color: #fe5c86; 
}

#currencies-block-top ul {
 top: 35px;
 left: -10px;
 width: 100px;
 background: #f1efef;
}
 
/*Account-Menu*/

.myaccount-block-top ul li a,
.myaccount-block-top ul li > span {
 color: #000000; }
 
.myaccount-block-top ul li.selected span,
.myaccount-block-top ul li a:hover  {
 color: #fe5c86; }

body.an_theme1_1 .logged_account a{
 color: #fe5c86 !important;	
}

body.an_theme1_1 .logged_account a:hover{
 color: #000000 !important;	
}

.block-account {
min-width: 65px;
}

.icon-accaunt {
 display: block;
 width: 12px;
 height: 16px;
 background: url('../img/icon-accaunt.png') no-repeat;
 background-position: center top;
 float: left;
 margin-right: 8px;
 margin-top: 2px;
}

.myaccount-block-top div.current.active .icon-accaunt,
.myaccount-block-top div.current:hover .icon-accaunt{
 background-position: center bottom;;
 }

/*search*/


	#searchbox{
	border-bottom: 1px solid #bdbdbd;
	}
	
	#search_block_top #search_query_top {
     background: none;
     border: none;
     height: 16px;
     padding: 0;
	 font-family:'MuseoSansCyrl-500';
     color: #000000;
     font-size: 12px;
     box-shadow: none;
	 margin-bottom: 5px;
	}



	#search_block_top .btn.button-search {
     display: block;
     float: left;
     background: none;
     padding: 0;
     width: 16px;
	}

#search_block_top #search_query_top::-webkit-input-placeholder {
color: #000000;
}

#search_block_top #search_query_top::-moz-placeholder {
color: #000000;
}

#search_block_top #search_query_top:-moz-placeholder {
color: #000000;
}
#search_block_top #search_query_top:-ms-input-placeholder {
color: #000000;
}

.icon-search {
 display: block !important;
 width: 15px;
 height: 16px;
 background: url('../img/icon-search.png') no-repeat;
 background-position: center top;
 float: left;
 margin-right: 8px;
 margin-top: 2px;
}

.button-search:hover .icon-search{
 background-position: center bottom;
 }

/*logo*/
@media (min-width: 480px){
	body.an_theme1_1 header .row #header_logo img.img-responsive {
     display: inline-block;
	}
	body.an_theme1_1 header .row #header_logo{
	 text-align: center;
	}
	#header_logo a img {
	/* max-height: 77px; */
		width: 300px;
	}
}

/*logo*/
@media (max-width: 480px){
	#header_logo a img {
		width: 150px;
	}
}

/*cart*/
@media (min-width: 767px){
.shopping_cart-my{
	float: left !important;
}
}



.shopping_cart .ajax_cart_product_txt,
.shopping_cart .ajax_cart_product_txt_s,
.shopping_cart > a:first-child:before,
#header .shopping_cart > a:first-child:after{
 display: none !important;
}
	
	
body.an_theme1_1 .shopping_cart > a:first-child b,
body.an_theme1_1 .shopping_cart > a:first-child .ajax_cart_quantity,
body.an_theme1_1 .shopping_cart > a:first-child .ajax_cart_no_product{
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 12px;
 font-weight: normal !important;
 text-shadow: none;
 }
	
.shopping_cart > a:first-child:hover b,
.shopping_cart > a:first-child:hover .ajax_cart_quantity,
.shopping_cart > a:first-child:hover .ajax_cart_no_product{
 color: #000000;
 }

 .icon-cart-new {
 display: block;
 width: 13px;
 height: 18px;
 background: url('../img/cart.png') no-repeat;
 background-position: center center;
 float: left;
 margin-right: 7px;
}

@media (max-width: 767px) {
  .icon-cart-new {
	display: inline-block;
    float: none;
	vertical-align: -2px;
}
}

.shopping_cart-my .shopping_cart > a:first-child .ajax_cart_quantity,
.shopping_cart-my .shopping_cart > a:first-child .ajax_cart_no_product{
 padding: 4px 8px 4px 8px;
 background: #fafafa;
 border-radius: 12px;
 color: #000000;
 }
 
 
 .shopping_cart > a:first-child:hover .ajax_cart_quantity{
  border-radius: 12px 12px 0 0; 
 }
 
 
  /*CART DROP*/

#header .cart_block dt {
 border-top: 1px solid #f6f6f6;
 margin-bottom: 0;
}
 
.product-name a,
#header .cart_block .product-atributes a ,
.cart_block .cart-info .quantity-formated .quantity{
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 14px;
 font-weight: normal
}

.cart_block .cart-info .quantity-formated{
 color: #000000;
}
 
#header .cart_block a:hover,
#header .cart_block .product-atributes a:hover {
 color: #fe5c86;
}

#header .cart_block .price {
 font-family:'MuseoSansCyrl-700';
 font-size: 16px;
 color: #000000;
 font-weight: normal;
}

#header .cart_block .cart-prices{
 background: none;
}

.cart_block .cart-prices .cart-prices-line {
    border-bottom: 1px solid #e0e0e0;
}

#header .cart_block {
 font-family:'MuseoSansCyrl-700';
 font-size: 14px;
 color: #000000;
}

body.an_theme1_1 .cart_block_list dl{
 margin-bottom: 0;
}

#header .cart_block .cart-buttons{
 background: none;
}



 /*CHECK OUT*/

body.an_theme1_1 .cart_block .cart-buttons a#button_order_cart{
background: none;
}

body.an_theme1_1 .cart_block .cart-buttons a#button_order_cart>span{
 border-radius: 24px;
 font-family:'MuseoSansCyrl-500';
 font-size: 14px;
 font-weight: normal;
 text-shadow: none;
 color: #ffffff;
 background: #fe5c86;
 border: none;
 text-transform: uppercase;
 padding: 15px 0;
 border-bottom: 4px solid #b94362;
 border-top: 4px solid #fe5c86;
}

body.an_theme1_1 .cart_block .cart-buttons a#button_order_cart span:hover{
 background: #ff7498;
 border-top: 4px solid #ff7498;
 border-bottom: 4px solid #ba556f;
}

body.an_theme1_1 .cart_block .cart-buttons a#button_order_cart span:active{
 background: #f6547e;
 border: none;
 border-bottom: 4px solid #f6547e;
 border-top: 4px solid #b33d5c;
}


#header .cart_block .cart_block_list .ajax_cart_block_remove_link:before{
 display: none;
 width: 17px;
 height: 17px;
}

#header .cart_block .cart_block_list .ajax_cart_block_remove_link{
 width: 17px;
 height: 17px;
 background: url('../img/close.png') no-repeat;
 background-position: center top;
}

#header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover{
 background-position: center bottom;
}

 .button.button-small span i.right {
 width: 5px !important;
 height: 8px !important;
 border: none !important;
 background: url('../img/angle-icon.png') no-repeat !important;
 background-position: center center !important;
}

.icon-chevron-right:before{
 display: none;
}

/*my wishlists*/
@media (max-width: 991px) {
.my_wishlists-no{
 display: none;
}
}

.my_wishlists{
 padding-top: 52px;
 float: right;
}

body.an_theme1_1 .my_wishlists a{
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 12px;
}

body.an_theme1_1 .my_wishlists a:hover{
 color: #000000;
}

 .icon-my_wishlists {
 display: block;
 width: 17px;
 height: 15px;
 background: url('../img/icon-my_wishlists.png') no-repeat;
 background-position: center center;
 float: left;
 margin-right: 4px;
}


.my-wishlists-sum {
 padding: 4px 8px 4px 8px;
 background: #fafafa;
 margin-left: 1px;
 border-radius: 12px;
 
  -webkit-transition:0.2s ease-out;
  -moz-transition:0.2s ease-out;
  -o-transition:0.2s ease-out;
  transition:0.2s ease-out;
}

.my_wishlists-no{
 padding-left: 5px;
}

body.an_theme1_1 .my_wishlists a:hover .my-wishlists-sum{
 background: #fe5c86;
}

/*Top Menu*/
.sf-menu > li > a{
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 18px;
 font-weight: normal;
}

@media (max-width: 767px){
.cat-title {
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 18px;
 font-weight: normal;
 border: none;
 background: #fff;
 border-top: 1px solid #ecebeb;
 border-bottom: 1px solid #ecebeb;
}
}

.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover,
.sf-menu > li.sfHoverForce > a {
 color: #000000;
}

.sf-menu > li > ul > li > a {
 font-family:'MuseoSansCyrl-300';
 color: #000000;
 font-weight: normal;
}

.sf-menu > li > ul > li > a:hover {
 color: #fe5c86;
}

body.an_theme1_1 .submenu-container .sf-with-ul,
body.an_theme1_1 .sf-menu li li li a,
body.an_theme1_1 .sf-menu > li > ul > li > a {
 transition: all 0.1s ease-in-out;
 -webkit-transition: all 0.1s ease-in-out; /** Chrome & Safari **/
 -moz-transition: all 0.1s ease-in-out; /** Firefox **/
 -o-transition: all 0.1s ease-in-out; /** Opera **/
}

body.an_theme1_1 .sf-menu li li li :hover {
 color: #fe5c86;
}

body.an_theme1_1 .sf-menu li li li a{
 font-family:'MuseoSansCyrl-300';
 color: #000000;
 font-weight: normal;
}

body.an_theme1_1 .sf-menu li li li a:before {
 width: 0px;
 height: 1px;
 background: url('../img/line-menu.png') no-repeat;
 background-position: left center;
 margin-bottom: 4px;
 padding-right: 0px;
 
 transition: all 0.3s ease-in-out;
 -webkit-transition: all 0.3s ease-in-out; /** Chrome & Safari **/
 -moz-transition: all 0.3s ease-in-out; /** Firefox **/
 -o-transition: all 0.3s ease-in-out; /** Opera **/
}


body.an_theme1_1 .sf-menu li li li a:hover:before{
 width: 13px;
 padding-right: 18px;
}

@media (max-width: 991px){
body.an_theme1_1 .sf-menu li li li a:hover:before{
width: 0px;
padding-right: 0px;
}
}

@media (min-width: 768px){
body.an_theme1_1 .width100 {
 background: #ecebeb;
 width: 100%;
 height: 1px;
 position: absolute;
 top: 153px;
}
}

.sf-menu > li > ul {
 border-top: 1px solid #ecebeb;
 box-shadow: none;
}
@media (min-width: 768px){
.sf-menu > li{
 float: none;
 display: inline-block;
}


.sf-menu {
 text-align: center;
}
}

body.an_theme1_1 .sf-menu li > ul{
 text-align: left;
}

.sf-menu > li > .sf-with-ul:after{
 content: "\f078";
 font-family: "FontAwesome";
 font-size: 8px;
 line-height: 18px;
 vertical-align: 4px;
 padding-left: 8px;
}

.sf-menu > li.sfHover > .sf-with-ul:after,
.sf-menu > li > .sf-with-ul:hover .sf-with-ul:after{
 content: "\f077";
}





/*slider*/
body.an_theme1_1 #slider_row {
 margin: 0 0 -15px 0;
}

body.an_theme1_1 #top_column {
 padding:0;
}

#homepage-slider .bx-wrapper .bx-controls-direction a {
 border-radius: 33px;
}

 #homepage-slider .bx-wrapper .bx-controls-direction a:before {
 background: #fff;
 opacity: 0.20;
 
  -webkit-transition:0.2s ease-out;
  -moz-transition:0.2s ease-out;
  -o-transition:0.2s ease-out;
  transition:0.2s ease-out;
 }

#homepage-slider .bx-wrapper .bx-controls-direction a:after {
 color: #fff; 
 padding: 16px 0 0 0; 
 }


#homepage-slider .bx-wrapper .bx-controls-direction a:hover:before {
 background: #e8e5e2;
 opacity: 0.50; 
}

#homepage-slider .bx-wrapper .bx-prev {
left: 10px;
}

#homepage-slider .bx-wrapper .bx-prev:after {
 content: "";
 width: 8px;
 height: 15px;
 background: url('../img/bx-prev.png') no-repeat;
 background-position: center center; 
}
 
#homepage-slider .bx-wrapper .bx-next:after {
 content: "";
 width: 8px;
 height: 15px;
 background: url('../img/bx-next.png') no-repeat;
 background-position: center center;
}
 
 
 /*SHOP-NOW*/
body.an_theme1_1 .shop-now {
 border-radius: 24px;
 font-family:'MuseoSansCyrl-500';
 color: #ffffff;
 background: #fe5c86;
 text-transform: uppercase;
 text-align: center;
 text-decoration: none;
 border-bottom: 4px solid #b94362;
 border-top: 4px solid #fe5c86;
}

body.an_theme1_1 .shop-now:after {
 content: "";
 width: 5px;
 height: 8px;
 background: url('../img/angle-icon.png') no-repeat;
 background-position: right center;
 padding-left: 15px;
 vertical-align: 1px;
}

body.an_theme1_1 .shop-now:hover{
 background: #ff7498;
 border-top: 4px solid #ff7498;
 border-bottom: 4px solid #ba556f;
}

body.an_theme1_1 .shop-now:active{
 background: #f6547e;
 border: none;
 border-bottom: 4px solid #f6547e;
 border-top: 4px solid #b33d5c;
}

body.an_theme1_1 .shop-now {
 font-size: 14px;
 padding: 13px 45px 14px 45px;
 line-height: 14px;
}






 
/*static block top*/
@media (min-width: 600px){
body.an_theme1_1 .home-top-banners {
 position: relative;
 z-index: 10;

}
body.an_theme1_1 .home-top-banners .one-1,
body.an_theme1_1 .home-top-banners .one-2{
  margin-top: -80px;
}

}

body.an_theme1_1 .home-top-banners .shop-now {
 position: absolute;
}

body.an_theme1_1 .home-top-banners .shop-now {
 bottom: 14%;
 right: 10%;
}

@media (min-width: 768px){

body.an_theme1_1 .home-top-banners .one-1,
body.an_theme1_1 .home-top-banners-two .one-1{
 padding-right: 5px;
}

body.an_theme1_1 .home-top-banners .one-2,
body.an_theme1_1 .home-top-banners-two .one-2{
 padding-left: 5px;
}
}

/*static block top two*/

body.an_theme1_1 .home-top-banners-two {
margin-top: 10px;
}

@media (max-width: 767px){
body.an_theme1_1 .home-top-banners .one-2,
body.an_theme1_1 .home-top-banners-two .one-2{
 margin-top: 15px;
}
body.an_theme1_1 .home-top-banners-two {
margin-top: 15px;
}
}

body.an_theme1_1 .home-top-banners-two .shop-now {
 position: absolute;
}

body.an_theme1_1 .home-top-banners-two .shop-now {
 bottom: 18%;
 right: 10%;
}

body.an_theme1_1 .home-top-banners-two .zoom1 img {
 margin: 0 auto; 
 -moz-transition:0.4s ease-out;
 -o-transition:0.4s ease-out;
 transition:0.4s ease-out;
}


body.an_theme1_1 .home-top-banners-two .zoom1 {
 overflow: hidden;
}


body.an_theme1_1 .home-top-banners-two >div .zoom1:hover img {
 margin: 0 auto;
 -webkit-transform:scale(0.95);
 -o-transform:scale(0.95);
 -moz-transform:scale(0.95);
 transform:scale(0.95);
 z-index:0;
}



/*second menu*/
/*#home-page-tabs*/
#home-page-tabs {
  display: inline-block;
  border: none;
  background: #fff;}
  @media (min-width: 768px) {
    #home-page-tabs {
      padding: 10px 15px 10px 15px; }}
  #home-page-tabs > li {
    margin: 0;
	float: none;
	display: inline-block;
	background: #fff;}
    @media (max-width: 680px) {
      #home-page-tabs > li {
        width: 100%; } }
    #home-page-tabs > li a {
      font-family:'HenriDidot';
      color: #969696;
	  font-size: 34px;
      border: none;
      outline: none;
      margin: 0;
      padding: 10px; }
	  
  #home-page-tabs > li.active a,
  #home-page-tabs > li a:hover {
    color: #000000;
	background:none;
    padding: 10px; }
	
	  
.home-page-center{
 width: 100%;
 text-align: center;
 background: url(../img/home-page-bg.jpg) repeat-x #ffffff center center;
 margin-top: 30px;
}	  



/*Products*/

ul.product_list > li .product-container .product-image-container{
 background: none;
 border: none;
}

ul.product_list .color-list-container {
 margin-bottom: 5px;
 clear: left;
 text-align: left;
}

@media (min-width: 992px){
.mal-md-20 {
 width: 20%;
 float: left;
 position: relative;
 min-height: 1px;
 padding-left: 7.5px;
 padding-right: 7.5px;
}	
	

#blocknewproducts,
#homefeatured,
#blockbestsellers,
#blockspecials{
 margin-left: -7.5px;
 margin-right: -7.5px;
}
}



body.an_theme1_1 .new-label:before,
body.an_theme1_1 .new-label:after,
body.an_theme1_1 .sale-label:before,
body.an_theme1_1 .sale-label:after {
 content: none;
}

body.an_theme1_1 .new-box,
body.an_theme1_1 .sale-box {
 position: absolute;
 right: 11px;
 text-align: center;
 z-index: 0; }

body.an_theme1_1 .new-box {
 top: 10px;}

body.an_theme1_1 .sale-box {
 top: 10px; }

body.an_theme1_1 .new-label {
 transform: none;
 -wekit-transform: none;
 margin: 0;
 padding: 0;
 font-family:'MuseoSansCyrl-700';
 font-size: 12px;
 background: none;
 font-weight: normal;
 color: #26d10a;
 border: 2px solid #26d10a;
 padding: 0 5px 0 5px;
 min-width: 44px;
 text-align: center;
 display: block;
 position: absolute;
 top: 0px;
 right: 0px;
 z-index: 1;
 text-transform: uppercase; }

body.an_theme1_1 .sale-label {
 transform: none;
 -wekit-transform: none;
 margin: 0;
 padding: 0;
 font-family:'MuseoSansCyrl-700';
 font-size: 12px;
 background: none;
 font-weight: normal;
 color: #fe5c86;
 border: 2px solid #fe5c86;
 padding: 0 5px 0 5px;
 min-width: 44px;
 text-align: center;
 display: block;
 position: absolute;
 top: 0px;
 right: 0px;
 z-index: 1; 
 text-transform: uppercase;}

body.an_theme1_1 .sale-first {
  top: 41px;
}

.product-buttom-hover {
 display: block;
 float: left;
 padding: 17px 0;
 border-bottom: 1px solid #f4f4f4;
 
  -webkit-transition:0.2s ease-out;
  -moz-transition:0.2s ease-out;
  -o-transition:0.2s ease-out;
  transition:0.2s ease-out;
}

ul.product_list.grid > li .product-container .product-image-container .content_price{
 padding: 0;
 bottom: 0;
 background: none;
}

.product-buttom-add {
 background: url('../img/product-buttom-add.png') no-repeat #fff;
 background-position: center center;
 border-right: 1px solid #f4f4f4;
}

.product-buttom-wish {
 background: url('../img/product-buttom-wish.png') no-repeat #fff;
 background-position: center center;
 border-right: 1px solid #f4f4f4;
}

.product-buttom-quic {
 background: url('../img/product-buttom-quic.png') no-repeat #fff;
 background-position: center center;
 border-right: 1px solid #f4f4f4;
}

.product-buttom-compare {
 background: url('../img/product-buttom-compare.png') no-repeat #fff;
 background-position: center center;
}

.checked {
 background: url('../img/product-buttom-compare-del.png') no-repeat #fff;
 background-position: center center;
}

.product-buttom-add:hover {
 background: url('../img/product-buttom-add.png') no-repeat #f4f4f4;
 background-position: center center;
}

.product-buttom-wish:hover {
 background: url('../img/product-buttom-wish.png') no-repeat #f4f4f4;
 background-position: center center;
}

.product-buttom-quic:hover {
 background: url('../img/product-buttom-quic.png') no-repeat #f4f4f4;
 background-position: center center;
}

.product-buttom-compare:hover {
 background-color: #f4f4f4;
 background-position: center center;
}


ul.product_list.grid > li .product-container h5{
 float: left;
 width: 70%;
 margin: 0;
 padding: 0;
 text-align: left;
 margin-bottom: 5px;
}

ul.product_list.grid > li .product-container h5 a{
 font-family:'MuseoSansCyrl-500';
 font-size: 14px;
 font-weight: normal;
 color: #000000;
 text-align: left;
 line-height: 23px;
 
}

ul.product_list.grid > li .product-container h5 a:hover{
 color: #fe5c86;
}

ul.product_list.grid > li .product-container .content_price{
 float: right;
 width: 30%;
 text-align: right;
}

.price.product-price {
 font-family:'MuseoSansCyrl-700';
 font-size: 16px;
 font-weight: normal;
 color: #000000;
 line-height: 23px;
 padding: 0;
}

.old-price.product-price {
 font-family:'MuseoSansCyrl-500';
 font-size: 14px;
 color: #969696;
 padding-top: 4px;
 margin-bottom: 5px;
}

.right-block1{
 padding-left: 10px;
 padding-right: 10px;
}

.nb-comments{
 display: none;
}

 ul.product_list.grid > li .product-container .comments_note .star_content {
 margin-bottom: 10px;
}

div.star.star_on:after{
 color: #ffbd0b;
}

div.star:after {
 content: "\f005";
 color: #bcbcbc;
}

/*ul.product_list.grid > li .product-container .product-image-container{
 border: none;
}*/

#index .tab-content {
 margin-top: 0px;
 margin-bottom: 70px;
}

/*static block brands*/

body.an_theme1_1 .home-brands-banners h5{
 margin: 0px;
 padding: 0px;
 font-weight: normal;
 font-family:'HenriDidot';
 font-size: 34px;
 color: #000000;
 text-align: center;
 margin-bottom: 20px;
}

body.an_theme1_1 .home-brands-banners{
 margin-top: 30px;
 margin-bottom: 50px;
}

body.an_theme1_1 .home-brands-banners  img {
 margin: 0 auto; 
 -moz-transition:0.2s ease-out;
 -o-transition:0.2s ease-out;
 transition:0.2s ease-out;
}

body.an_theme1_1 .home-brands-banners .zoom {
 overflow: hidden;
}

body.an_theme1_1 .home-brands-banners .col-sm-2:hover img {
 margin: 0 auto;
 -webkit-transform:scale(1.1);
 -o-transform:scale(1.1);
 -moz-transform:scale(1.1);
 transform:scale(1.1);
 z-index:0;
}

@media (min-width: 768px) {

body.an_theme1_1 .home-brands-banners .col-sm-2{
 float: left;
 text-align: center;
}
}
	
@media (max-width: 767px) {
body.an_theme1_1 .home-brands-banners .col-sm-2{
 width: 55%;
 margin: 0 auto;
 margin-bottom: 15px;
}
}



/*static block bottom*/

body.an_theme1_1 .home-bottom-banners  {
 padding-bottom: 30px;
}

body.an_theme1_1 .home-bottom-banners .zoom img {
 margin: 0 auto; 
 -moz-transition:0.3s ease-out;
 -o-transition:0.3s ease-out;
 transition:0.3s ease-out;
}


body.an_theme1_1 .home-bottom-banners .zoom {
 overflow: hidden;
}


body.an_theme1_1 .home-bottom-banners >div .zoom:hover img {
 margin: 0 auto;
 -webkit-transform:scale(1.15);
 -o-transform:scale(1.15);
 -moz-transform:scale(1.15);
 transform:scale(1.15);
 z-index:0;
}

@media (max-width: 767px) {
 body.an_theme1_1 .home-bottom-banners .zoom {
 margin-bottom: 15px;
}
}


/*footer-static-block-3*/


body.an_theme1_1 .footer-static-block-3{
 background: #f8f8f8;
}

body.an_theme1_1 .home-bottom-banners-3 .col-sm-3 a {
display: block;
}

body.an_theme1_1 .home-bottom-banners-3{
margin-bottom: 30px;
margin-top: 35px;
}

body.an_theme1_1 .home-bottom-banners-3 .col-sm-3{
 text-align: center;
}

body.an_theme1_1 .home-bottom-banners-3 .col-sm-3 span {
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 margin-left: 10px;
}

body.an_theme1_1 .home-bottom-banners-3 img{
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

body.an_theme1_1 .home-bottom-banners-3 a:hover img {
-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
body.an_theme1_1 .home-bottom-banners-3 a:hover span {
 color: #8fa0a9;
}

@media (max-width: 991px) {
body.an_theme1_1 .home-bottom-banners-3 .col-sm-3 span {
 display: block;
 margin-left: 0;
 margin-top: 10px;
}
}

@media (min-width: 768px) {
body.an_theme1_1 .home-bottom-banners-3 .col-sm-3 span {
 font-size: 20px;
 vertical-align: -7px;
}
}
	
@media (max-width: 767px) {
body.an_theme1_1 .home-bottom-banners-3 .col-sm-3 span {
 font-size: 11px;
}
body.an_theme1_1 .home-bottom-banners-3 .col-sm-3  {
 margin-bottom: 30px;
}

body.an_theme1_1 .home-bottom-banners-3 .col-sm-3:last-child {
 margin-bottom: 0;
}
}




/*static block about*/



body.an_theme1_1 .second-futer {
 background: #ffffff;
 margin-top: 55px;
 margin-bottom: 55px;
}

.about-us{ 
 padding-right: 30px;
}

.fotter-about h5{
 margin: 0;
 padding: 0;
 font-family:'HenriDidot';
 font-size: 34px;
 color: #000000;
 margin-bottom: 25px;
}

.about-text{
 font-family:'MuseoSansCyrl-300';
 font-weight: normal;
 font-style: normal;	
 font-size: 16px;
 color: #000000;
 line-height: 26px;
 margin-bottom: 20px;
}



.about-us img{
 display: block;
 float: left;
 margin-right: 30px;
 margin-bottom: 15px;
 max-width: 100%;
}

.about-us a{
 font-family:'MuseoSansCyrl-300';	
 font-size: 14px;
 color: #fe5c86;
 text-decoration: none;
}

body.an_theme1_1 .about-us a:after{
 margin-left: 10px;
 content: "";
 display: inline-block;
 width: 5px;
 height: 8px;
 background: url('../img/read-more.png') no-repeat;
 background-position: center center;
}

.about-us a:hover{
 text-decoration: underline;
}

@media (max-width: 768px){
.fotter-about{
 margin-bottom: 35px;
}

body.an_theme1_1 .second-futer {
 margin-bottom: 0px;
}
}




/*newsletter*/

body.an_theme1_1 #newsletter_block_left{
 margin: 0;
}

body.an_theme1_1 #newsletter_block_left h4{
 margin: 0;
 padding: 0;
 font-family:'HenriDidot';
 font-size: 34px;
 font-weight: normal;
 font-style: normal;
 text-transform: none;
 background: none;
 border: none;
 color: #000000;
 margin-bottom: 25px;
 line-height: 1.1;
}

body.an_theme1_1 #newsletter_block_left h3{
 margin: 0;
 padding: 0;
 font-family:'MuseoSansCyrl-300';
 font-size: 16px;
 font-weight: normal;
 font-style: normal;	
 color: #000000;
 margin-bottom: 17px;
 line-height: 26px;
}


body.an_theme1_1 .form-control.newsletter-input {
 padding: 0px;
 width: 60%;
 height: 32px;
 border-radius: 16px;
 border: 1px solid #c7c7c7;
 
 font-family:'MuseoSansCyrl-300';
 font-weight: normal;
 font-style: normal;	
 font-size: 14px;
 color: #7d7d7d;
 background: #ffffff;
 padding-left: 20px;
 float: left;
 margin-right: 5%;
 margin-bottom: 10px;
}

#order-opc .button.button-small,
body.an_theme1_1 .my-btn {
 border: none;
 width: 30%;
 display: block;
 float: left;
 height: 32px;
 border-radius: 16px;
 background: #fe5c86;
 text-align: center;
 border-bottom: 2px solid #b94362;
 border-top: 2px solid #fe5c86;
}

#order-opc .button.button-small span,
body.an_theme1_1 .my-btn span{
 font-family:'MuseoSansCyrl-500';
 font-weight: normal;
 font-style: normal;	
 font-size: 14px;
 text-shadow: none;
 color: #ffffff;
 padding: 0;
 border: none;
 background: none;
}

#order-opc .button.button-small span:hover,
body.an_theme1_1 .my-btn span:hover{
 background: none;
}

#order-opc .button.button-small:hover,
body.an_theme1_1 .my-btn:hover{
 background: #ff7498;
 border-top: 2px solid #ff7498;
 border-bottom: 2px solid #ba556f;
}

#order-opc .button.button-small:active,
body.an_theme1_1 .my-btn:active{
 background: #f6547e;
 border: none;
 border-bottom: 2px solid #f6547e;
 border-top: 2px solid #b33d5c;
}

/*social_block */

.newsl-soc #social_block {
      float: left !important;
      width: 100%;
      padding: 30px 15px 15px 0px; }
          @media (min-width: 768px) and (max-width: 991px) {
            .newsl-soc #social_block ul li {
              width: 30px; } }
          .newsl-soc #social_block ul li a {
            display: inline-block;
            color: #908f8f;
            font-size: 28px; }
            @media (min-width: 768px) and (max-width: 991px) {
              .newsl-soc #social_block ul li a {
                font-size: 20px; } }
            .newsl-soc #social_block ul li a span {
              display: none; }
            .newsl-soc #social_block ul li a:before {
              display: inline-block;
              font-family: "FontAwesome";
              vertical-align: -5px;
              font-weight: normal;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale; }
            .newsl-soc #social_block ul li a:hover {
              color: #fff; }
          .newsl-soc #social_block ul li.facebook a:before {
            content: "\f09a"; }
          .newsl-soc #social_block ul li.twitter a:before {
            content: "\f099"; }
          .newsl-soc #social_block ul li.rss a:before {
            content: "\f09e"; }
          .newsl-soc  #social_block ul li.youtube a:before {
            content: "\f167"; }
          .newsl-soc #social_block ul li.google-plus a:before {
            content: "\f0d5"; }
          .newsl-soc #social_block ul li.pinterest a:before {
            content: "\f0d2"; }
          .newsl-soc #social_block ul li.vimeo a:before {
            content: "\f194"; }
          .newsl-soc #social_block ul li.instagram a:before {
            content: "\f16d"; }
      .newsl-soc #social_block h4 {
        float: right;
        margin-bottom: 0;
        font-size: 21px;
        line-height: 25px;
        text-transform: none;
        padding: 0 10px 0 0; }
          .newsl-soc #social_block h4 {
            display: none;
            text-align: center; }
			
			
/*FALLOW US*/

body.an_theme1_1 .newsl-soc #social_block ul {
  clear: left;
  float: left; }
 
body.an_theme1_1 .newsl-soc #social_block ul li {
 float: left;
 width: 30px;
 height: 30px;
 background: #606060;
 text-align: center;
 padding: 0px;
 margin-right: 7px;
 margin-bottom: 6px;
 border-radius: 15px;
 } 
 
body.an_theme1_1 .newsl-soc #social_block ul li a {
 padding-top: 2px;
 display: inline-block;
 color: #ffffff;
 font-size: 18px;
 width: 30px;
 height: 30px;
	
 -webkit-transition:0.2s ease-out;
 -moz-transition:0.2s ease-out;
 -o-transition:0.2s ease-out;
 transition:0.2s ease-out;
 }
 
body.an_theme1_1 .newsl-soc #social_block ul li:hover a {
 color: #fe5c86; 
 }
 
body.an_theme1_1 .newsl-soc #social_block h4:after,
body.an_theme1_1 .newsl-soc #newsletter_block_left h4:after{
 display: none;
 }
 
 
.footer-container {
  background-color: #f8f8f8; }
  
  
  
  
  
  
  
  
body.an_theme1_1 .footer-container #footer h4 {
 font-family:'HenriDidot';
 font-weight: normal;
 font-size: 26px;
 text-transform: none;
 color: #000000;
 margin: 0 0 20px 0;
}
.footer-container #footer h4 a{
 color: #000000;
}

.footer-container #footer h4 a:hover{
 color: #000000;
}

body.an_theme1_1 .footer-container #footer li a {
 font-family:'MuseoSansCyrl-300';
 color: #000000;
 font-weight: normal;
 text-shadow: none;
 text-decoration: none;
 font-size: 14px;
}

body.an_theme1_1 .footer-container #footer li a:hover {
 text-decoration: underline;
}

.footer-container #footer ul li {
 padding-bottom: 10px;
}

.footer-container #footer #block_contact_infos {
 border: none;
}

.footer-container #footer #block_contact_infos > div ul li {
 font-family:'MuseoSansCyrl-300';
 color: #000000;
 font-weight: normal;
 text-shadow: none;
 text-decoration: none;
 font-size: 14px;
 line-height: 35px;
}

.footer-container #footer #block_contact_infos > div ul li > span,
.footer-container #footer #block_contact_infos > div ul li > span a{
 color: #000000;
}

.icon-map-marker:before,
.icon-phone:before,
.icon-envelope-alt:before {
 content: none;
}

.footer-container #footer #block_contact_infos > div ul li .icon-map-marker {
 background: url('../img/palace.png') center;
 width: 35px;
 height: 35px;
 margin-right: 12px;
}

.footer-container #footer #block_contact_infos > div ul li .icon-phone {
 background: url('../img/phone.png');
 width: 35px;
 height: 35px;
 margin-right: 12px;
}

.footer-container #footer #block_contact_infos > div ul li .icon-envelope-alt {
 background: url('../img/mail.png');
 width: 35px;
 height: 35px;
 margin-right: 12px;
}


.bottom-footer a{
 font-family:'MuseoSansCyrl-300';
 color: #000000;
 font-size: 14px;
}

.bottom-footer a:hover{
 color: #000000;
 text-decoration: underline;
}

.bottom-footer div{
 text-align: center;
 padding: 20px 0 20px 0;
 border: none;
}

.bottom-footer {
 background: #dddddd;
}

.footer-container .container {
 padding-bottom: 0px;
}

.toggle-footer {
 margin-bottom: 20px;
}

.home-payment-methods h4{
 margin-right: 20px;
}

.home-payment-methods div{
 float: left;
 margin-right: 10px;
 margin-bottom: 20px;
}

.home-payment-methods h4:after{
 display: none;
}


/*countdown*/

.days-countdown{
 position: relative;
}

.days-countdown h5{
 position: absolute;
 margin: 0px;
 padding: 0px;
 font-family:'HenriDidot';
 color: #000000;
 font-size: 64px;
 width: 100%;
 text-align: center;
 top: 10%;
}

.days-countdown .days-countdown-line{
 position: absolute;
 width: 140px;
 height: 1px;
 background: #000000;
 top: 30%;
 left: 50%;
 margin-left: -70px;
}

.days-countdown h4{
 margin: 0px;
 padding: 0px;
 position: absolute;
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 20px;
 width: 100%;
 text-align: center;
 top: 35%;
}

.days-countdown #an_countdown{
 position: absolute;
 width: 100%;
 text-align: center;
 top: 50%;
}

.days-countdown .days{
 text-align: center;
 display: inline-block;
 margin-right: 10px;
 font-family:'MuseoSansCyrl-500';
 color: #000000;
 font-size: 11px;
 width: 68px;
 height: 69px;
 background: url('../img/countdown-bg.png') center center no-repeat;
 border-radius: 7px;
}

.days-countdown .days span{
 display: block;
 font-family:'HenriDidot';
 color: #000000;
 font-size: 38px;
 line-height: 35px;
 margin-top: 11px;
}

body.an_theme1_1 .days-countdown .shop-now-center {
 position: absolute;
 bottom: 13%;
 width: 100%;
 text-align: center;
}

@media (max-width: 991px) {
.days-countdown h5{
 font-size: 40px;
 top: 7%;
}

.days-countdown .days-countdown-line{
 display: none;
}


.days-countdown h4{
 font-size: 16px;
 top: 26%;
}
.days-countdown #an_countdown{
 top: 40%;
}
}

@media (max-width: 767px) {
.days-countdown{
 height: 236px;
 background: #f7f7f7;
}
.days-countdown img{
 display: none;
}
}



/*product-slid*/
@media (min-width: 992px){
.mal-s-34{
 width: 33%;
}

.mal-s-33{
 width: 33%;
}
}
.product-slid {
 margin-top: 50px;
}


.product-slid .title{
 font-family:'HenriDidot';
 color: #000000;
 font-size: 34px;
 line-height: 32px;
 margin-bottom: 25px;
}

.product-slid .bx-pager {
 display: none;
}

.product-slid .bx-wrapper .bx-controls-direction a {
 width: 8px;
 height: 15px;
 background: none;
 margin-top: -25px;
 top: -20px;
 }

.product-slid .bx-wrapper .bx-controls-direction a:hover {
 background: none; 
}

.product-slid .bx-wrapper .bx-prev {
 left: auto !important;
 right: 35px !important;
}

.product-slid .bx-wrapper .bx-next {
 right: 0px !important;
}


.product-slid .bx-wrapper .bx-prev:before {
 display: block;
 padding-left: 0;
 content: "";
 width: 8px;
 height: 15px;
 background: url('../img/bx-prev2.png') no-repeat;
 background-position: center top; 
}
 
.product-slid .bx-wrapper .bx-next:before {
 display: block;
 padding-left: 0;
 content: "";
 width: 8px;
 height: 15px;
 background: url('../img/bx-next2.png') no-repeat;
 background-position: center top;
}


.product-slid .bx-wrapper .bx-prev:hover:before,
.product-slid .bx-wrapper .bx-next:hover:before{
 background-position: center bottom; 
}





.product-slid .left-block {
 width: 30%;
 float: left;
}

.product-slid .right-block {
 width: 70%;
 float: left;
 padding: 0;
 padding-left: 10px
}

.product-slid .right-block-name-price h5 {
 margin: 0px;
 padding: 0px;
 float: left;
 max-width: 65%;
}

.product-slid .right-block-name-price h5 a{
 font-family:'MuseoSansCyrl-500';
 font-size: 14px;
 font-weight: normal;
 color: #000000;
}

.product-slid .right-block-name-price h5 a:hover{
 color: #fe5c86;
}

.product-slid .content_price {
 float: right;
 
}

.product-slid .content_price .product-price{
 display: block;
 clear: left;
 float: left;
}

.product-slid .hook-reviews {
 padding: 5px 0 0 0;
 margin: 0;
 clear: left;
 float: left;
}

.right-block-buttons{
 float: left;
 clear: left;
 width: 100%;

}

.product-slid .right-block-buttons .product-buttom-slid {
 display: block;
 float: left;
 font-family:'MuseoSansCyrl-500';
 font-size: 12px;
 font-weight: normal;
 color: #000000;
 border-radius: 16px;
 padding: 5px 20px 5px 20px;
 background: #fafafa;
 border-bottom: 2px solid #d7d7d7;
 margin-top: 10px;
 
 -webkit-transition: 0.2s ease-out;
 -moz-transition: 0.2s ease-out;
 -o-transition: 0.2s ease-out;
 transition: 0.2s ease-out;
}

.product-slid .right-block .product-buttom-slid:hover {
 color: #ffffff;
 background: #fe5c86;
 border-bottom: 2px solid #b94362;
}

.product-slid .right-block .wish-buttom-slid {
 display: block;
 float: left;
 width: 31px;
 height: 32px;
 background: url('../img/wisl.png') no-repeat;
 background-position: center top;
 margin-left: 10px;
 margin-top: 10px;
}

.product-slid .right-block .wish-buttom-slid:hover {
 background: url('../img/wisl.png') no-repeat;
 background-position: center bottom;

}

.product-slid .ajax_block_product {
 float: left;
 padding-bottom: 10px;
 padding-left: 0;
 padding-right: 0;
}


@media (min-width: 768px) and (max-width: 991px) {
.product-slid .right-block-name-price h5 a{
 font-size: 12px;
}	
.right-block-name-price .price.product-price {
  font-size: 13px;
}
}

@media (max-width: 767px) {
.product-slid .title {
 margin-top: 30px;
}
}

#my-account ul.myaccount-link-list li a i {
 color: #fe5c86;
}


  /* BUTTONS */
.cart_navigation .button-exclusive {
  font-family:'MuseoSansCyrl-500';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

#order-opc .button.button-medium,
#order-opc .button.button-medium span,
body.an_theme1_1 .button.button-medium,
body.an_theme1_1 .button.button-medium  span{
 font-family:'MuseoSansCyrl-500';
 font-weight: normal;
 font-style: normal;
 font-size: 14px;
 border: none;
 border-radius: 24px;
 color: #ffffff;
 background: #fe5c86;
 text-transform: uppercase;
 text-align: center;
 text-decoration: none;
 border-color: none;
 border-bottom: 2px solid #b94362;
 border-top: 2px solid #fe5c86;
}

#order-opc .button.button-medium:hover,
#order-opc .button.button-medium span:hover,
body.an_theme1_1 .button.button-medium:hover,
body.an_theme1_1 .button.button-medium  span:hover {
 background: #ff7498;
 border-top: 2px solid #ff7498;
 border-bottom: 2px solid #ba556f;
}

body.an_theme1_1 .button.button-medium:active,
body.an_theme1_1 .button.button-medium  span:active {
 background: #f6547e;
 border: none;
 border-bottom: 2px solid #f6547e;
 border-top: 2px solid #b33d5c;
}

body.an_theme1_1 .button.exclusive-medium  span,
body.an_theme1_1 .button.exclusive-medium {
 text-shadow: none;
 font-family:'MuseoSansCyrl-500';
 font-weight: normal;
 font-style: normal;
 font-size: 14px;
 border: none;
 border-radius: 24px;
 color: #464646;
 background: #e6e6e6;
 text-transform: uppercase;
 text-align: center;
 text-decoration: none;
 border-bottom: 2px solid #adaeaf;
 border-top: 2px solid #e6e6e6;

}

body.an_theme1_1  .button.exclusive-medium  span:hover,
body.an_theme1_1  .button.exclusive-medium:hover {
 background: #d3d4d4;
 border-top: 2px solid #d3d4d4;
 text-shadow: none;
}

body.an_theme1_1  .button.exclusive-medium  span:active,
body.an_theme1_1  .button.exclusive-medium:active {
 background: #bfc0c1;
 border: none;
 border-bottom: 2px solid #bfc0c1;
 border-top: 2px solid #adaeaf;
 text-shadow: none;
}


body.an_theme1_1.noindex .days-countdown,
body.an_theme1_1.noindex .product-slid,
body.an_theme1_1.noindex .home-brands-banners,
body.an_theme1_1.noindex .home-bottom-banners,
body.an_theme1_1.noindex .home-bottom-banners-3{
 display: none;
}

#layer_cart .layer_cart_product .title{
 color: #fe5c86;
}


/*	ADD TO CARD */
body.an_theme1_1  .buttons_bottom_block button {
 background: #fe5c86;
 border: none;
 border-radius: 30px;
 border-bottom: 2px solid #b94362;
 border-top: 2px solid #fe5c86;
 
  	-webkit-transition:0.2s ease-out;
	-moz-transition:0.2s ease-out;
	-o-transition:0.2s ease-out;
	transition:0.2s ease-out;
}
body.an_theme1_1  .buttons_bottom_block button:before,
body.an_theme1_1  .buttons_bottom_block button:after {
 border: none;
 background: none;
 text-shadow: none;
}
body.an_theme1_1  .buttons_bottom_block button:hover{
 background: #f6547e;
 border-bottom: 2px solid #f6547e;
 border-top: 2px solid #b33d5c;
}

body.an_theme1_1  .buttons_bottom_block button:hover:before,
body.an_theme1_1 .buttons_bottom_block button:hover span {
 color: #ffffff;
}

body.an_theme1_1 .buttons_bottom_block button span {
 border: none;
 font-family:'MuseoSansCyrl-500';
 font-weight: normal;
 text-shadow: none;
 }

/*add to cart*/
#layer_cart .layer_cart_cart .title,
#layer_cart .layer_cart_product .title{
 font-family:'MuseoSansCyrl-500';
}





 /*CATEGORI*/
  
 body.an_theme1_1 .content_scene_cat_bg {
 margin-left: 0;
 margin-right: 0;
 padding: 18px 10px 10px 10px;
 background-color: #ffffff !important;
 }
  
#page .rte {
color: #111111;
}

.title_block{
 margin-top: 0;
}


 /*FONTS PRODUCT*/
 
#page .rte p {
 font-family:'MuseoSansCyrl-300';
 font-weight: normal;
}
label,
#pQuantityAvailable span,
h3.page-product-heading,
.table-data-sheet tr td:first-child,
h3.page-product-heading,
.pb-center-column #product_reference,
.pb-center-column #short_description_block #short_description_content p,
#availability_value,
#usefull_link_block li a,
.table-data-sheet tr td,
#product_comments_block_tab,
ul.product_list .product-name,
ul.product_list.list > li .product-desc,
.open-comment-form {
 font-family:'MuseoSansCyrl-500';
 font-weight: normal;
}

#product_condition,
#product_reference,
.content_scene_cat span.category-name{
 font-family:'MuseoSansCyrl-500';
 font-weight: normal;
 color: #111111;
}

.content_scene_cat span.category-name{
 font-family:'HenriDidot';
}

.pb-center-column h1,
#cart_summary tfoot td.total_price_container span,
.our_price_display .price,
#cart_summary tfoot td#total_price_container,
ul.step,
.table-data-sheet tr td:first-child {
font-family:'MuseoSansCyrl-700';
font-weight: normal;
}

/*FONTS CATEGORY*/
.breadcrumb,
.block .title_block,
.block h4,
#categories_block_left li a,
#categories_block_left li li a,
.page-heading,
.page-heading span.heading-counter,
#subcategories p.subcategory-heading,
#subcategories ul li .subcategory-name,
#layered_block_left .layered_subtitle,
#layered_block_left ul li label,
.block .list-block li,
#layered_form div div ul,
.block .products-block li .product-content,
.button.button-small span,
.label-success,
.top-pagination-content .product-count,
#cart_summary,
#create-account_form p,
p.info-account,
#my-account ul.myaccount-link-list li a span,
#addresses #center_column p,
.page-subheading,
p.info-title,
.nav-tabs > li > a{
 font-family:'MuseoSansCyrl-500';
 font-weight: normal;
} 




  
  /*IN STOCK*/
 .label-success {
  background-color: #fe5c86;
  border: 1px solid #b94362;
  font-weight: normal;  }
  
  
 ul.step li.step_current {
      background: #fe5c86;
      background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fe5c86), to(#fe5c86));
      background-image: -webkit-linear-gradient(top, #fe5c86, 0%, #fe5c86, 100%);
      background-image: -moz-linear-gradient(top, #fe5c86 0%, #fe5c86 100%);
      background-image: linear-gradient(to bottom, #fe5c86 0%, #fe5c86 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00a1fd', endColorstr='#FF00a1fd', GradientType=0);
      border-color: #b94362 #b94362 #b94362 #b94362; }
	  
	        ul.step li.step_current span {
        color: #fff;
        text-shadow: 1px 1px #b94362;
        border: 1px solid;
        border-color: #b94362 #b94362 #b94362 #b94362;
        position: relative; }

.cart_unit .price-percent-reduction{
 display: none;
}

#cart_summary tfoot td.text-right, #cart_summary tfoot tbody td.cart_unit, #cart_summary tbody tfoot td.cart_unit, #cart_summary tfoot tbody td.cart_total, #cart_summary tbody tfoot td.cart_total, table th {
 font-weight: normal;
}

.special-price{
 color: #777;
}

.hook-reviews {
 float: left;
 clear: left;
}

ul.product_list.list > li .product-desc{
 float: left;
 clear: left;
 margin-top: 10px;
}

@media (max-width: 767px) {
 .content_scene_cat_bg{
  padding-left: 0 !important;
 }	
 .category-image{
  padding-left: 0;
 }
 .cat_desc{
  padding-left: 0;
 }
}


.breadcrumb{
 border: none;
 background: none;
}

.icon-home {
 width: 20px;
 height: 17px;
 background: url('../img/icon-home.png') no-repeat;
 background-position: center center;
 vertical-align: -3px !important;
}

.breadcrumb a:before,
.icon-home:before{
 content: none;
}

.breadcrumb a{
 background: none;
 color: #a4a4a4;
 padding: 0;
 margin: 0;
 padding-right: 20px;
}

.breadcrumb a:after{
 width: 6px;
 height: 9px;
 border: none;
 background: url('../img/aarow.png') no-repeat;
 background-position: center center;
 right: 6px;
 top: 7px;
 
 -webkit-transform: none;
 -ms-transform: none;
 transform: none;
}

.breadcrumb .navigation-pipe{
display: none;
}

.breadcrumb a.home {
 width: 20px;
 margin-right: 20px;
}

.breadcrumb a.home:after {
 right: -14px;
}

.navigation_page{
 color: #000000;
}

@media (max-width: 479px){
ul.product_list.list > li .right-block {
    width: 100%;
}
}

#idTab5 {
 padding: 0 20px 20px;
}

