#languages-block-top {
  float: right;
  position: relative; }

  #languages-block-top span.firstWord {
    display: none; }
  #languages-block-top div.current {
    padding: 8px 0px 8px 0px;
    line-height: 18px;
    cursor: pointer; }
    #languages-block-top div.current strong {
      color: #777777; }
    #languages-block-top div.current:after {
      content: "\f078";
      font-family: "FontAwesome";
      font-size: 8px;
      line-height: 18px;
      vertical-align: 2px;
      padding-left: 5px; }
    @media (max-width: 479px) {
      #languages-block-top div.current .cur-label {
        display: none; } }
  #languages-block-top ul {
    display: none;
    position: absolute;
    background: #333;
    z-index: 2; }
    #languages-block-top ul li {
      color: #fff;
      font-size: 13px; }
      #languages-block-top ul li a,
      #languages-block-top ul li > span {
        padding: 9px 10px 9px 12px;
        display: block;
        color: #fff; }

/*# sourceMappingURL=blocklanguages.css.map */
