<h5>About us</h5>
<div class="about-us clearfix"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b20.png" alt="" />
<div class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elitse do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita tio ullamco laboris nisi ut aliquip.</div>
<a class="read-more" href="#">Read more</a></div>