<div class="home-bottom-banners row">
<div class="col-sm-4 one-1">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b11.png" alt="" width="100%" /></a></div>
</div>
<div class="col-sm-4 one-2">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b12.png" alt="" width="100%" /></a></div>
</div>
<div class="col-sm-4 one-3">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b13.png" alt="" width="100%" /></a></div>
</div>
</div>