<div class="home-bottom-banners-3 row">
<div class="col-sm-12">
<div class="col-sm-3"><a href="#"> <img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b14.png" alt="" /> <span>Free shipping</span> </a></div>
<div class="col-sm-3"><a href="#"> <img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b15.png" alt="" /> <span>Support 24/7</span> </a></div>
<div class="col-sm-3"><a href="#"> <img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b16.png" alt="" /> <span>Best price</span> </a></div>
<div class="col-sm-3"><a href="#"> <img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b17.png" alt="" /> <span>Discount system</span> </a></div>
</div>
</div>