<div class="home-brands-banners row">
<h5>Top brands</h5>
<div class="col-sm-12">
<div class="col-sm-2">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b5.jpg" alt="" width="100%" /> </a></div>
</div>
<div class="col-sm-2">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b6.jpg" alt="" width="100%" /> </a></div>
</div>
<div class="col-sm-2">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b7.jpg" alt="" width="100%" /> </a></div>
</div>
<div class="col-sm-2">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b8.jpg" alt="" width="100%" /> </a></div>
</div>
<div class="col-sm-2">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b9.jpg" alt="" width="100%" /> </a></div>
</div>
<div class="col-sm-2">
<div class="zoom"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b10.jpg" alt="" width="100%" /> </a></div>
</div>
</div>
</div>