<div class="days-countdown"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b100.png" alt="" width="100%" />
<h5>Online only</h5>
<div class="days-countdown-line"></div>
<h4>Get 30% off your order of 100$ or more</h4>
<div id="an_countdown">2016/04/08</div>
<div class="shop-now-center"><a class="shop-now" href="#">READ MORE</a></div>
</div>