<div class="home-payment-methods">
<h4>Payment Methods</h4>
<div><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b51.png" alt="" /></div>
<div><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b52.png" alt="" /></div>
<div><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b53.png" alt="" /></div>
<div><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b54.png" alt="" /></div>
</div>