<div class="home-top-banners row">
<div class="col-sm-6 one-1">
<div class="zoom"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b1.png" alt="" width="100%" /></div>
<a class="shop-now static-shop-now-first" href="#">SHOP NOW</a></div>
<div class="col-sm-6 one-2">
<div class="zoom"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b2.png" alt="" width="100%" /></div>
<a class="shop-now static-shop-now-second" href="#">SHOP NOW</a></div>
</div>
<div class="home-top-banners-two row">
<div class="col-sm-8 one-1">
<div class="zoom1"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b3.png" alt="" width="100%" /></a></div>
</div>
<div class="col-sm-4 one-2">
<div class="zoom1"><a href="#"><img src="{$theme_path|escape:'html':'UTF-8'}themes/jewelry/img/b4.png" alt="" width="100%" /></a></div>
</div>
</div>